{%extends "base.html"%}
{%block title%} Admin Panel {%endblock%}
{%block content%}
<p> Hello {{name}} ! </p>
<center><h3>People Table</h3></center>

<form action="" method="post" name="signup_base_first" class="box">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger" name="edit" value="delete">Delete selected</button>
            </div>
        </div>

        <tr>
            <th></th>
            <th>Id</th>
            <th>Username</th>
            <th>Name Surname</th>
            <th>Mail</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>

       {% for person in people %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="people_keys" value="{{ person.id }}"/>
            </label>
          </td>
           <td>
              {{ person.id }}
          </td>
          <td>
              {{ person.username }}
          </td>
          <td>
              {{ person.name_surname }}
          </td>
           <td>
              {{ person.mail }}
          </td>
          <td>
              {{ person.password_hash }}
          </td>
           <td>
              {{ person.gender }}
          </td>
          <td>
              {{ person.age }}
          </td>
          <td>
              {{ person.role }}
          </td>
          <td>
            <label class="checkbox">
              <button class="button is-primary modal-button" name="edit" value = "{{person.id}}" >Edit</button>
            </label>
          </td>
        </tr>
        {% endfor %}
    </table>
</form>
{%endblock%}
