{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}
{%block content%}

<div id="shop_main_div" style="text-align: center; margin-bottom: 1rem;">
    <img style="width : 20%;" src="{{ url_for('static', filename='images/shopicon.jpg') }}" alt="Barbershop">
    <h1>{{shop.shopname}}</h1>
    <div class="columns">
        <div class="column">
            <img src="{{ url_for('static', filename='images/loclogo.png') }}" alt="Location">
            <p>{{shop.location}} <br> <span style="font-weight:bold">{{shop.city}}</span></p>
        </div>
        <div class="column">
            <img src="{{ url_for('static', filename='images/timelogo.png') }}" alt="Location">
            <p>{{shop.openingtime}} - {{shop.closingtime}} </p>
        </div>
        <div class="column">
            <img src="{{ url_for('static', filename='images/employee.png') }}" alt="Location">
            <p>Number of employees: {{shop.numberofemployee}} </p>
        </div>
    </div>

    {%if shop.ownerpeople_id == current_user.id%}
    <div class="columns">
        <div class="column is-10">
            <a href="{{ url_for('add_barbershop_page', id=shop.id) }}" class="button is-primary is-block is-alt is-large">Edit Barbershop</a>
        </div>
        <div class="column is-2">
            <a href="{{ url_for('barbershop_delete', id=shop.id) }}" class="button is-danger is-block is-alt is-large">Delete</a>
        </div>
    </div>
    {%endif%}

    {% if barbers | length != 0 %}
    <h1>Barbers table</h1>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Experience Year</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
    {% for barber in barbers %}

    <tr>
        <th>{{barber.people.name_surname}}</th>
        <td>{{barber.people.age}}</td>
        <td>{{barber.experience_year}}</td>
        {%if barber.berber_shop_id == None%}
        <td>Unmployed</td>
        <td>
                <a href="{{ url_for('barber_employ', barber_id=barber.id, status=1, barbershop_id=shop.id) }}" class="button is-primary is-small">Employ</a>
        </td>
        {%else%}
        <td>Employee</td>
        <td>
                <a href="{{ url_for('barber_employ', barber_id=barber.id, status=0, barbershop_id=shop.id) }}" class="button is-danger is-small">Dismiss</a>
        </td>
        {%endif%}


    </tr>

    {% endfor %}
        </tbody>
    </table>

    {% endif %}


</div>






{%endblock%}