{%extends "base.html"%}
{%block title%} berbershopview {%endblock%}
{%block content%}


<!-- Berbershop Info -->
<div id="berbershopview_wrapper">
    <div id="berbershop_card"  align="left">
      <img src="{{ url_for('static', filename='images/barbershopcard.jpg') }}" style="height:80px;" alt="John" >
      <h3>{{berbershop.shopname}}</h3>
      <p class="berbershopcard_title">{{berbershop.city}}</p>
      <p>{{berbershop.location }}</p>
      <p>Opening-Closing Time :  {{berbershop.openingtime}} - {{berbershop.closingtime}}</p>
        {% if berbershop.contactInfo != None%}
      <p>Phone : {{berbershop.contactInfo.telephoneNumber }} </p>

             {% if berbershop.contactInfo.instagram != None and berbershop.contactInfo.instagram != "" %}
            <a class="berbershop_taga" target="_blank" href="https://www.instagram.com/{{berbershop.contactInfo.instagram}}"><i class="fa fa-instagram fa-2x"></i></a>
            {% endif %}

            {% if berbershop.contactInfo.twitter != None and berbershop.contactInfo.twitter != ""  %}
            <a class="berbershop_taga" target="_blank" href="https://www.twitter.com/{{berbershop.contactInfo.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>
            {% endif %}
            {% if berbershop.contactInfo.facebook != None and berbershop.contactInfo.facebook != "" %}
            <a class="berbershop_taga" target="_blank" href="https://www.facebook.com/{{berbershop.contactInfo.facebook}}"><i class="fa fa-facebook fa-2x"></i></a>
            {% endif %}
        {% endif %}
        <hr>
        {% if current_user.id == berbershop.ownerpeople_id %}
        <a href="/contact/{{berbershop.id}}">Contact Settings</a> <br>
        {% endif %}

         <a href="/rezervation/{{berbershop.id}}">Get Rezervation</a>

       </div>




    <div class="berbershop_comment" style="width : 60%;">


        <form id="commentbarber" method="post" action="">

          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Berber</label>
            <select class="form-control" name="berber" id="exampleFormControlSelect1">
                    <option value="-1">BerberShop Itself</option>
                 {% if berbers != None  %}
                    {% for b in berbers %}
                    <option value="{{b.id}}">{{b.people.name_surname}}</option>
                    {% endfor %}
                {% endif %}

            </select>
      </div>

        <div class="form-group">
        <label for="exampleFormControlSelect2">Rate</label>
        <select class="form-control" name="bcommentrate" id="exampleFormControlSelect2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>


        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text"  name="bcommenttitle" class="form-control" id="bcommenttitle" placeholder="my title">
        </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comment Text</label>
        <textarea name="bcommenttext" class="form-control" id="bcommenttext" rows="3"></textarea>
      </div>

       <div>
           <h6>Keywords</h6>
           <strong>Price:</strong>
           Cheap
           <input type="checkbox" class="group1" name="key" checked />
           Normal
           <input type="checkbox" class="group1" name="key" />
           Expensive
            <input type="checkbox" class="group1" name="key" />
       </div>

    <div>
        <strong>Skill:</strong>
        Bad
        <input type="checkbox" class="group2" name="key"/>
        Normal
        <input type="checkbox" class="group2" name="key" checked />
        Good
        <input type="checkbox" class="group2" name="key" />
    </div>

    <div>
        <strong>Hygiene:</strong>
        Dirty
        <input type="checkbox" class="group3" name="key"/>
        Normal
        <input type="checkbox" class="group3" name="key" />
        Clean
        <input type="checkbox" class="group3" name="key" checked />
    </div>

        <br>
        {% if current_user.is_active %}

        <button type="submit" class="btn btn-success">Submit</button>

        </form>
        {% else %}
        <a href="/signin" style="height:40px;" type="submit" class="btn btn-primary">Submit</a>

        {% endif %}

    </div>
</div>

    <div style="clear:both;">
  <hr>
  <h4>Comments</h4>
  <br>
  {% for comment in commentlist %}
    <div>
      <div class="container" style="margin-top:20px;">
        <div class="row">
        <div class="col-sm-12">
        <h5>
          {% if comment.peopleobj.id == current_user.id  %}
             <div  style="display : inline , width : 150px; max-width:200px; margin-bottom : 20px;" class="form-group">

                 <select class="form-control" name="bcommentrate" id="editrating">
               <option value="{{comment.rate}}" selected disabled hidden>Rate : {{comment.rate}} /5</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            </div>
            <p style="margin-bottom : 5px;" class="commenttexttitle" id="commentedittitle" contenteditable="true">{{comment.title}}</p>


          {% else %}
            {% for n in range (comment.rate) %}
                <img src="{{ url_for('static', filename='images/star.png') }}">

            {% endfor %}

            <p style="margin-top : 20px;">{{comment.title}}</p>
          {% endif %}
        </h5>
        </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
        <div class="col-sm-1">
        <div class="thumbnail">
        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
        <div class="panel panel-default">
        <div class="panel-heading">

          {% if comment.peopleobj.id == current_user.id %}
            <strong style="background-color : yellow;">{{comment.peopleobj.username}}</strong>
          {% else %}
             <strong>{{comment.peopleobj.username}}</strong>
          {% endif %}


          <span class="commentdatespan">commented on {{comment.dateTime}}</span>
        </div>
        <div class="panel-body">
          {% if comment.peopleobj.id == current_user.id  %}
            <p id="commentedittext" class="commenttextcontent" contenteditable="true">{{comment.content}}</p>
          {% else %}
            <p>{{comment.content}}</p>
          {% endif %}

        </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
        </div>
        </div>
        {% if comment.peopleobj.id == current_user.id  %}
         <form style="display:inline;margin-left : 180px;" action="/barbershopview/edit/{{berbershop.id}}" id="editcommentform" method="POST">
            <input  type="hidden" name="commentid" value="{{comment.id}}">
             <input type="hidden" id="editrateresult" name="bcommentrate" value="">

            <input id="commenttitleinput" type="hidden" name="commenttitle" value="">
           <input  id="commenttextinput" type="hidden" name="commenttext" value="">

            <button type="submit"  id="editpost1"  class="btn btn-primary btn-sm">Edit</button>
        </form>
        {% endif %}



        {% if comment.peopleobj.id == current_user.id  %}
        <form style="display : inline;margin-left : 20px;"  action="/barbershopview/delete/{{berbershop.id}}"  method="POST">
            <input type="hidden" name="commentid" value="{{comment.id}}">
            <button  type="submit"  class="btn btn-danger btn-sm">Delete</button>
        </form>
        <br>
        {% endif %}


        <!-- LİKED - DİSLİKED PART -->

        <div style="margin-left : 185px;" id="demoforms">
          {% if comment.likedDislikedobj == None  %}
          <form  class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
              <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
            <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="1">
              <button type="submit" class="notlikedbefore">
                <img  src="{{ url_for('static', filename='images/iconfinder_thumbs-o-up_1608724.png')}}" />
                 <span>{{comment.like}}</span>
              </button>
          </form>

          <form class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
                <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
              <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="-1">
              <button class="notdislikedbefore">
               <img  src="{{ url_for('static', filename='images/dislike1.png')}}" />
           </button>
            <span> {{comment.dislike}} </span>
          </form>

          {% elif comment.likedDislikedobj.ifliked == 1  %}

          <form  class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
              <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
            <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="-1">
              <button class="likedbefore">
                <img  src="{{ url_for('static', filename='images/iconfinder_thumbs-up_1608950.png')}}" />
              </button>
                {{comment.like}}
          </form>

          <form class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
              <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
            <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="-2">
              <button class="notdislikedbefore">
                <img  src="{{ url_for('static', filename='images/dislike1.png')}}" />

           </button>
            {{comment.dislike}}
          </form>



          {% elif comment.likedDislikedobj.ifDisliked == 1 %}
          <form  class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
              <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
            <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="2">
               <button class="notlikedbefore">
               <img  src="{{ url_for('static', filename='images/iconfinder_thumbs-o-up_1608724.png')}}" />
               </button>
             {{comment.like}}
          </form>

          <form class="likedislikeform" action="/barbershopview/likedislike/{{berbershop.id}}" method="post">
              <input type="hidden" name="likedislikeid" value="{{comment.likedDislikedobj.id}}">
            <input type="hidden" name="commentid" value="{{comment.id}}">
              <input type="hidden" name="peopleid" value="{{current_user.id}}">
              <input type="hidden" name="bool" value="1">
              <button class="dislikedbefore">
                <img  src="{{ url_for('static', filename='images/dislike2.png')}}" />

               </button>
            {{comment.dislike}}
          </form>

          {% endif %}

      </div>

  {% endfor %}




</div>












</div>




{%endblock%}