<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hairdressers - {% block title %}{% endblock %}</title>


    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'js/jquery.js') }}" ></script>

    <!-- Datatable js file for Homepage-->
    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'js/datatablebootstrapjsfile.js') }}" ></script>
    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'js/datatablejsfile.js') }}" ></script>

    <!--Css file for Datatable in HomePage-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cloudfarecsslib.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatablesbootstrap.css') }}">
    <!----------------------------------------------->

    <!-- CustomHomePageCss  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_homepage.css') }}">




    <!--Bootstrap Css İnitializer -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Js İnitializer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img src="{{ url_for('static', filename = 'hairdresser-logo.png') }}" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('home_page') }}">
            Home
          </a>

          <a class="navbar-item" href="{{ url_for('blog_page') }}">
            Blog
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="navbar-item">
                <strong>Sign up</strong>
              </a>
              <a class="navbar-item">
                <strong>Log in</strong>
              </a>
               <a class="navbar-item" href="{{ url_for('profile_page') }}">
                <strong>Profile</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="content">
        <small>&copy;2019, Hairdressers </small>
      </div>
    </footer>




   <script>

       const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

       // Check if there are any navbar burgers
       if ($navbarBurgers.length > 0) {

         // Add a click event on each of them
         $navbarBurgers.forEach( el => {
           el.addEventListener('click', () => {

             // Get the target from the "data-target" attribute
             const target = el.dataset.target;
             const $target = document.getElementById(target);

             // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
             el.classList.toggle('is-active');
             $target.classList.toggle('is-active');

           });
         });
       }

       //function for table calling in HomePage
       $(document).ready(function() {
            $('#allBerbers').DataTable();
        } );
   </script>

</body>
</html>