{%extends "base.html"%}
{%block title%} Blog {%endblock%}
{%block content%}


<div class="columns">
				<div class="column is-3">
					<a class="button is-primary is-block is-alt is-large" href="{{ url_for('newpost_page') }}">New Post</a>

				</div>
				<div style="clear:both;">
  <hr>
  <h4>Comments</h4>
  <br>
  {% for Post in Posts %}
    <div>
      <div class="container" style="margin-top:20px;">
        <div class="row">
        <div class="col-sm-12">
        <h5>
          {% if comment.people.id == current_user.id  %}

            <p style="margin-bottom : 5px;" class="commenttexttitle" id="commentedittitle" contenteditable="true">{{Post.title}}</p>


          {% else %}
			<p style="margin-top : 20px;">{{Post.title}}</p>
          {% endif %}
        </h5>
        </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
        <div class="col-sm-1">
        <div class="thumbnail">
        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
        <div class="panel panel-default">
        <div class="panel-heading">

          {% if comment.people.id == current_user.id %}
            <strong style="background-color : yellow;">{{Post.people.username}}</strong>
          {% else %}
             <strong>{{Post.people.username}}</strong>
          {% endif %}


          <span class="commentdatespan">commented on {{comment.dateTime}}</span>
        </div>
        <div class="panel-body">
          {% if Post.people.id == current_user.id  %}
            <p id="commentedittext" class="commenttextcontent" contenteditable="true">{{Post.content}}</p>
          {% else %}
            <p>{{Post.content}}</p>
          {% endif %}

        </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
        </div>
        </div>
</div>
</div>

</div>
{%endblock%}
