{%extends "base.html"%}
{%block title%} Homepage {%endblock%}
{%block content%}

<div>

<div style="float:right;width:20%" class="container">

      <div class="content-section" style="display:inline-block">
        <h3>Options</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Log In or Sign Up</li>
            <li class="list-group-item list-group-item-light">See rankings</li>
            <li class="list-group-item list-group-item-light">Posts</li>
            <li class="list-group-item list-group-item-light">Opportunities</li>
          </ul>
        </p>
      </div>
    </div>


	<div style="display:inline-block;width:40%;">

		<h1>Who are we ? </h1>
		<p>
			WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
			WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
			WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
			WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
			hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
			hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
			hhhhhhhhhhhhhhhhhhhhhhh
		</p>

	</div>

</div>



<div class="mainbarcover">

<h1 align="center">Main Bar</h1>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin: auto;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
											<div class="contentofcart">
												<h4 class="card-title">Last Added  Berbers</h4>
						 						<p class="card-text">Discover the last added berbers around your place</p>
												</br>
											</div>

						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>

						 		</div>

                                <div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
											<div class="contentofcart">
						 						<h4 class="card-title">Best berbershop</h4>
						 						<p class="card-text">Best berbershops which get highest point average from customers </p>
												</br>
											</div>
						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>

						 		</div>






						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
											<div class="contentofcart">
												<h4 class="card-title">Find the Best Berbers</h4>
												<p class="card-text">Make sure you are going for righ berber who is the most talented</p>
												</br>
						 						<button type="button" class="btn btn-warning">Read More</button>
											</div>


						 				</div>

						 			</div>

						 		</div>

                                <!--- ddddddd -->
                                <div class="col-sm-12 col-lg-4" style="display:none">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="images/d.jpg" class="card-img-top">
						 				<div class="card-body" style="height:200px">
						 					<h4 class="card-title">Find the New campaigns</h4>
						 					<p class="card-text">New Oppurtunities are waiting for you don't ever miss that</p>
						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>  <!-- -->

						 		</div>

						 	</div>

						 </div>


					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
						 					<h4 class="card-title">Find the New campaigns</h4>
						 					<p class="card-text">New Oppurtunities are waiting for you don't ever miss that</p>
											</br>
						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>

						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
						 					<h4 class="card-title">See the Lates Posts</h4>
						 					<p class="card-text">Shopowners and Berbers are posting. Follow their blogs.</p>
											</br>
						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>

						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="{{ url_for('static', filename='images/a.png') }}" alt="Second Slide">
						 				<div class="card-body" style="height:200px">
						 					<h4 class="card-title">Top Rated BerberShops</h4>
						 					<p class="card-text">By checking top rated shops, make sure you are going to right place</p>
											<br>
						 					<button type="button" class="btn btn-warning">Read More</button>

						 				</div>

						 			</div>

						 		</div>

						 	</div>

						 </div>


					</div>

				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</div>

		</div>

	</div>

</div>
</div>







    <div class="container mb-3 mt-3" class="allberbershopsdiv">
		<h2 align="center">All BerberShops</h2>
        <table id="allBerbers" class="table table-striped table-bordered" style="width:90%">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Place</th>
                    <th>OpeningTime</th>
                    <th>ClosingTime</th>
                    <th>TradeNumber</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        {% for berber in berbers %}
                <tr>
                    <td>{{berber.shopname}}</td>
                    <td>{{berber.ownerpeople_id}}</td>
                    <td>{{berber.location}}</td>
                    <td>{{berber.openingtime}}</td>
                    <td>{{berber.closingtime}}</td>
                    <td>{{berber.tradenumber}}</td>
                    <td>
                        <a href = "">Check</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Place</th>
                    <th>OpeningTime</th>
                    <th>ClosingTime</th>
                    <th>TradeNumber</th>
                </tr>
            </tfoot>
        </table>

    </div>


{%endblock%}
