{%extends "base.html"%}
{%block title%} newcampaign {%endblock%}
{%block content%}

<h1 class="title">Add New Campaign</h1>

<form action="" method="post" name="campaign_edit">

    <div class="field">
        <label class="label">City</label>
        <div class="control">
            <select class="input" name="city" required="required">
                <option value="0">Select Campaign Name</option>
                <option value="1">Hair</option>
                <option value="2">Beard</option>
                <option value="3">Washing</option>
                <option value="4">Blow-dry</option>
                <option value="5">Hair coloring</option>
                <option value="6">Wax</option>
            </select>
        </div>
    </div>

    <div><label for="start_date">Start date:</label>

        <input type="date" id="start" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2020-12-31">
    </div>

    <div><label for="end_date">End date:</label>

        <input type="date" id="end" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2020-12-31">
    </div>


    <div class="field">
        <label for="title" class="label">Definition</label>
        <div class="control">
            <textarea style="height:250px; width:60%" type="text" name="content" class="input"
                      required="required"></textarea>
        </div>

    </div>

    <div class="field">
        <label for="title" class="label">Discount</label>
        <div class="control">
            <input style="width:60%" type="text" name="title" class="input" required="required"/>
        </div>
    </div>


    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Save</button>
        </div>
    </div>
</form>

{%endblock%}