{%extends "base.html"%}
{%block title%} newpost {%endblock%}
{%block content%}

	<h1 class="title">Leave a Post</h1>

    <form action="" method="post" name="movie_edit">

        <div class="field">
          <label for="title" class="label">Subject</label>
            <div class="control">
                <input type="radio" name="gender" value="male" checked> Hair<br>
                <input type="radio" name="gender" value="female"> Beard<br>
                <input type="radio" name="gender" value="female"> Cleaning<br>
                <input type="radio" name="gender" value="female"> Prices<br>
                <input type="radio" name="gender" value="other"> Other
            </div>
      </div>

      <div class="field">
          <label for="title" class="label">Title</label>
            <div class="control">
                <input style="width:60%" type="text" name="title" class="input" required="required"/>
            </div>
      </div>

     <div class="field">
          <label for="title" class="label">Entry</label>
            <div class="control">
                <textarea  style="height:250px; width:60%"type="text" name="title" class="input" required="required"></textarea>
            </div>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>

{%endblock%}